$containerWidth: 1140px;
$headerHeight: 75px;
$focusedTextColor: #F16D7F;
$blockColor: #222;
$descriptionTextColor: #9F9F9F;
$elementsColor: #e1e1e1;
$colorText: #000;
$gridGap: 30px;
$gridWidth: calc(($containerWidth - $gridGap * 2) / 3);
$burgerWidth: 232px;