@media screen and (max-width: 1324px) {
  .burgermenu__box {
    right: 1%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    transform: scaleY(0.4);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
.feedback, .subscribe__box, .service__card, .card__box_hover, .featured, .offers__card_big, .offers__card, .offers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  height: 75px;
  background: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999999;
}
.header__leftside {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.header__rightside {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.header__search:hover path, .header__burgericon:hover path, .header__usericon:hover path, .header__basketicon:hover path {
  fill: #F16D7F;
}
.header__burgericon {
  display: block;
}

.burgermenu__checkbox {
  position: relative;
}
.burgermenu__box {
  z-index: 1000;
  visibility: hidden;
  position: absolute;
  top: 75px;
  height: 640px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 240px;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #000;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 32px;
  background-color: #FFF;
}
.burgermenu__heading {
  font-weight: 700px;
  margin-bottom: 12px;
}
.burgermenu__link {
  color: #6F6E6E;
  margin-left: 20px;
}
.burgermenu__link_heading {
  color: #F16D7F;
}
.burgermenu__link:hover, .burgermenu__link_heading:hover {
  text-decoration: underline;
}

#burgermenu__checkbox {
  display: none;
}

#burgermenu__checkbox:checked ~ .burgermenu__box {
  visibility: visible;
}

.logoblock {
  display: flex;
  background-color: #F1E4E6;
  align-items: center;
  gap: 64px;
  margin-bottom: 64px;
}
.logoblock__img {
  background-color: rgba(113, 103, 105, 0.08);
  height: 751px;
}
.logoblock__heading {
  font-style: normal;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  color: #222;
  display: flex;
  flex-direction: column;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  height: 92px;
}
.logoblock__heading_small {
  font-style: normal;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  color: #222;
}
.logoblock__heading_rose {
  color: #F16D7F;
}

.offers__box {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  margin-bottom: 96px;
}
.offers__card {
  text-align: center;
  position: relative;
  height: 260px;
  background: rgba(33, 22, 22, 0.7);
  max-width: 360px;
}
.offers__card_big {
  text-align: center;
  position: relative;
  grid-column: 1/span 3;
  height: 180px;
  background: rgba(33, 22, 22, 0.7);
  max-width: 1140px;
}
.offers__title {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FFF;
  position: absolute;
}
.offers__title_focused {
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #F16D7F;
}
.offers__img {
  z-index: -1;
}

.featured {
  margin-bottom: 96px;
  min-height: 1400px;
}
.featured__title {
  text-align: center;
  margin-bottom: 48px;
}
.featured__heading {
  font-style: normal;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #222;
  margin-bottom: 6px;
}
.featured__text {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #9F9F9F;
}
.featured__box {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  margin-bottom: 48px;
}
.featured__button {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  padding: 16px 48px;
  background: none;
}
.featured__button:hover {
  color: #FFF;
  background-color: #F16D7F;
}

.card {
  max-width: 360px;
  background-color: #F8F8F8;
}
.card__img {
  width: 100%;
}
.card__box {
  height: 420px;
  width: 100%;
  position: relative;
}
.card__box_hover {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
  animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.card__box:hover .card__box_hover {
  display: flex;
}
.card__button {
  display: flex;
  align-items: center;
  gap: 11px;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  padding: 13px;
  border: solid #ffffff 1px;
  background: transparent;
}
.card__button:hover {
  background-color: #F16D7F;
}
.card__content {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
}
.card__link {
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  color: #000;
  padding-bottom: 12px;
}
.card__text {
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  color: #9F9F9F;
  padding-bottom: 18px;
}
.card__price {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #F16D7F;
}

.service {
  background-color: #222;
  min-height: 340px;
  display: flex;
  align-items: center;
  text-align: center;
}
.service__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  gap: 30px;
}
.service__card {
  padding-top: 104px;
  padding-bottom: 104px;
  max-width: 360px;
}
.service__img {
  margin-bottom: 28px;
}
.service__heading {
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: #fbfbfb;
  margin-bottom: 16px;
}
.service__text {
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  color: #fbfbfb;
}

.subscribe {
  min-height: 448px;
  display: flex;
  background-image: url(../img/subscribe-background.png);
  background-repeat: no-repeat;
  background-color: #f4f4f4;
  block-size: cover;
  align-items: center;
  justify-content: space-between;
}
.subscribe__heading {
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: #222;
}
.subscribe__heading_low {
  font-size: 18px;
  font-weight: 400;
  display: block;
  padding-bottom: 32px;
}
.subscribe__form {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #222;
  text-align: center;
  height: 48px;
  display: flex;
  border-radius: 100px;
  width: 100%;
}
.subscribe__input {
  height: 100%;
  border: 0;
  padding: 7px 22px;
  background: #e1e1e1;
  border-radius: 50px 0 0 50px;
  width: calc(100% - 100px);
}
.subscribe__button {
  height: 100%;
  border: 0;
  border-radius: 0 50px 50px 0;
  color: #FFF;
  width: 100px;
  background-color: #F16D7F;
}

.feedback {
  max-width: 360px;
  text-align: center;
  gap: 32px;
}

.footer {
  background-color: #222;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__text {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #fbfbfb;
}
.footer__social {
  display: flex;
  gap: 8px;
}
.footer__social_icon {
  width: 32px;
  height: 32px;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
}
.footer__social_icon:hover {
  background: #F16D7F;
}/*# sourceMappingURL=style.css.map */