@import 'vars';
@import 'mixins';
@import 'media';
@import 'keyframes';

%flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

summary {
  display: block;
  /* works in firefox */
  list-style: none;
  /* works in firefox */
}

summary::after {
  display: block;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  padding-left: calc(50% - $containerWidth / 2);
  padding-right: calc(50% - $containerWidth / 2);
}

.header {
  height: $headerHeight;
  background: $blockColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999999;
  &__leftside {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
  }

  &__rightside {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
  }

  &__search:hover path,
  &__burgericon:hover path,
  &__usericon:hover path,
  &__basketicon:hover path {
    fill: $focusedTextColor;
  }

  &__burgericon {
    display: block;
  }

}

.burgermenu {
  &__checkbox {
    position: relative;
  }

  &__box {
    z-index: 1000;
    position: absolute;
    top: 75px;
    height: 640px;
    display: none;
    flex-direction: column;
    gap: 12px;
    width: $burgerWidth;
    @include styleFont(400, 14px, normal, #000);
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 32px;
    background-color: #FFF;
    animation: scale-up-ver-top 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  &__heading {
    font-weight: 700px;
    margin-bottom: 12px;
    
  }

  &__link {
    color: #6F6E6E;
    margin-left: 20px;
    &:hover {
      color: $focusedTextColor;
    }

    &_heading {
      color: $focusedTextColor;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#burgermenu {
  position: absolute;
  left: -9999999px;
  visibility: hidden;
  &:checked ~ .burgermenu__box {
      display: flex;
  }    
}

.logoblock {
  display: flex;
  background-color: #F1E4E6;
  align-items: center;
  gap: 64px;
  margin-bottom: 64px;
  
  &__img {
    background-color: rgba(113, 103, 105, 0.08);
    height: 751px;
  }

  &__heading {
    @include styleFont(900, 48px, 58px, $blockColor);
    display: flex;
    flex-direction: column;
    border-left: 12px solid $focusedTextColor;
    padding-left: 16px;
    height: 92px;

    &_small {
      @include styleFont(700, 32px, 38px, $blockColor);
    }

    &_rose {
      color: $focusedTextColor;
    }
  }
}

.offers {
  @extend %flex-column-center;
  &__box {
    display: grid;
    grid-template-columns: repeat(3, $gridWidth);
    gap: $gridGap;
    margin-bottom: 96px;
  }

  &__card {
    @extend %flex-column-center;
    text-align: center;
    position: relative;
    height: 260px;
    background: rgba(33, 22, 22, 0.7);
    max-width: 360px;
  }

  &__card_big {
    @extend %flex-column-center;
    text-align: center;
    position: relative;
    grid-column: 1 / span 3;
    height: 180px;
    background: rgba(33, 22, 22, 0.7);
    max-width: $containerWidth;
  }


  &__title {
    @include styleFont(400, 16px, 19px, #FFF);
    position: absolute;
    &_focused {
      @include styleFont(700, 24px, 29px, $focusedTextColor);
    }
  }


  &__img {
    z-index: -1;
  }
}

.featured {
  @extend %flex-column-center;
  margin-bottom: 96px;

  &__title {
    text-align: center;
    margin-bottom: 48px;
  }
  
  &__heading {
    @include styleFont(400, 30px, 36px, $blockColor);
    margin-bottom: 6px;
  }

  &__text {
    @include styleFont(400, 14px, 16px, $descriptionTextColor);
  }

  &__box {
    display: grid;
    grid-template-columns: repeat(3, $gridWidth);
    gap: $gridGap;
    margin-bottom: 48px;
  }

  &__button {
    @include styleFont(400, 16px, 20px, $focusedTextColor);
    border: 1px solid $focusedTextColor;
    padding: 16px 48px;
    background: none;
    &:hover {
      color: #FFF;
      background-color: $focusedTextColor;
    }
  }
}

.card {
  max-width: 360px;
  background-color: #F8F8F8;
  &__img {
    width: 100%;
  }

  &__box {
    height: 420px;
    width: 100%;
    position: relative;

    &_hover {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(58, 56, 56, 0.86);
      @extend %flex-column-center;
      animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }

    &:hover .card__box_hover {
      display: flex;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 11px;
    color: #ffffff;
    font-size: 14px;
    line-height: 17px;
    padding: 13px;
    border: solid #ffffff 1px;
    background: transparent;
    &:hover {
      background-color: $focusedTextColor;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
  }

  &__link {
    @include styleFont(400, 13px, normal, $colorText);
    padding-bottom: 12px;
  }

  &__text {
    @include styleFont(300, 14px, normal, $descriptionTextColor);
    padding-bottom: 18px;
  }

  &__price {
    @include styleFont(400, 16px, normal, $focusedTextColor);
  }
}

.service {
  background-color: $blockColor;
  min-height: 340px;
  display: flex;
  align-items: center;
  text-align: center;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    gap: $gridGap;
  }

  &__card {
    @extend %flex-column-center;
    padding-top: 104px;
    padding-bottom: 104px;
    max-width: 360px;

  }

  &__img {
    margin-bottom: 28px;
  }

  &__heading {
    @include styleFont(400, 20px, normal, #fbfbfb);
    margin-bottom: 16px;
  }

  &__text {
    @include styleFont(300, 14px, normal, #fbfbfb);
  }
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../img/subscribe-background.png);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  height: 448px;

  &__box {
    @extend %flex-column-center
  }

  &__heading {
    @include styleFont(700, 24px, 40px, $blockColor);
    &_low {
      font-size: 18px;
      font-weight: 400;
      display: block;
      padding-bottom: 32px;
    }
  }

  &__form {
    @include styleFont(400, 14px, normal, $blockColor);
    text-align: center;
    height: 48px;
    display: flex;
    border-radius: 100px;
    width: 100%;
  }

  &__input {
    height: 100%;
    border: 0;
    padding: 7px 22px;
    background: $elementsColor;
    border-radius: 50px 0 0 50px;
    width: calc(100% - 100px);
  }

  &__button {
    height: 100%;
    border: 0;
    border-radius: 0 50px 50px 0;
    color: #FFF;
    width: 100px;
    background-color: $focusedTextColor;
  }
}

.feedback {
  @extend %flex-column-center;
  max-width: $gridWidth;
  text-align: center;
  gap: 32px;
}

.footer {
  background-color: $blockColor;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    @include styleFont(400, 16px, normal, #fbfbfb);
  }

  &__social {
    display: flex;
    gap: 8px;

    &_icon {
      width: 32px;
      height: 32px;
      background: #FFF;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1px;
      &:hover {
        background: $focusedTextColor;
      }
    }
  }
}

.top {
  min-height: 148px;
  background: #f8f3f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__heading {
    @include styleFont(400, 24px, 28px, $focusedTextColor);
  }
}

.breadcrumb {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  @include styleFont(300, 14px, 16px, $descriptionTextColor);
  &__item {

    &_active {
      font-weight: 700;
      color: $focusedTextColor;
    }
  }

}

.product {
  @extend %flex-column-center;
  margin-bottom: 128px;

  &__card {
    @extend %flex-column-center;
    min-height: 600px;
    z-index: 1;
    border: 1px solid $elementsColor;
    max-width: 1140px;
    padding: 64px 250px;
    text-align: center;
    gap: 12px;
    background-color: #FFF;
    margin-top: -64px

  }

  &__subtitle {
    @include styleFont(300, 14px, normal, $focusedTextColor);
  }

  &__divider {
    &_title {
      width: 64px;
      height: 3px;
      background-color: $focusedTextColor;
      border: none;
    }

    &_filter {
      width: 640px;
      height: 1px;
      border: none;
      background-color: $elementsColor;
      margin-bottom: 52px;
    }
  }

  &__heading {
    @include styleFont(300, 18px, normal, $descriptionTextColor);
    margin-bottom: 36px;
  }

  &__text {
    @include styleFont(300, 14px, normal, $descriptionTextColor);
    margin-bottom: 20px;
  }

  &__price {
    @include styleFont(300, 24px, normal, $focusedTextColor);
    margin-bottom: 52px;
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 36px;
  }

  &__summary {
    display: flex;
    align-items: center;
    gap: 12px;
    @include styleFont(400, 14px, normal, $descriptionTextColor);
  }

  &__button {
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 48px;
    justify-content: space-between;
    width: 212px;
    height: 48px;
    background-color: #FFF;
    border: 1px solid $focusedTextColor;
    @include styleFont(400, 16px, normal, $focusedTextColor);
    &:hover {
      background-color: $focusedTextColor;
      color: #FFF;
      & path {
        fill: #FFF;
      }
    }
  }
}

.slider {
  min-height: 778px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #F7F7F7;
  

  &__button {
    border: none;
    height: 48px;
    width: 48px;
    background-color: $elementsColor;
    &:hover &_icon path {
      fill: $focusedTextColor;
    }
  }
}
