@keyframes scale-up-ver-top {
  0% {
    transform: scaleY(0.4);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
.feedback, .subscribe__box, .service__card, .product__card, .product, .card__hover, .offers__card_big, .offers__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

summary {
  display: block;
  /* works in firefox */
  list-style: none;
  /* works in firefox */
}

summary::after {
  display: block;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  height: 75px;
  background: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999999;
}
.header__leftside {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.header__rightside {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
}
.header__search:hover path, .header__burgericon:hover path, .header__usericon:hover path, .header__basketicon:hover path {
  fill: #F16D7F;
}
.header__burgericon {
  display: block;
}

.burgermenu__checkbox {
  position: relative;
}
.burgermenu__box {
  z-index: 1000;
  position: absolute;
  top: 75px;
  height: 640px;
  display: none;
  flex-direction: column;
  gap: 12px;
  width: 232px;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #000;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 32px;
  background-color: #FFF;
  animation: scale-up-ver-top 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.burgermenu__heading {
  font-weight: 700px;
  margin-bottom: 12px;
}
.burgermenu__link {
  color: #9F9F9F;
  margin-left: 20px;
}
.burgermenu__link:hover {
  color: #F16D7F;
}
.burgermenu__link_heading {
  color: #F16D7F;
}
.burgermenu__link_heading:hover {
  text-decoration: underline;
}

#burgermenu {
  position: absolute;
  left: -9999999px;
  visibility: hidden;
}
#burgermenu:checked ~ .burgermenu__box {
  display: flex;
}

.top {
  min-height: 148px;
  background: #f8f3f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top__heading {
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #F16D7F;
}

.breadcrumb__item {
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: #9F9F9F;
}
.breadcrumb__ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.breadcrumb__li:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: #9F9F9F;
}
.breadcrumb__li:last-child .breadcrumb__item {
  font-weight: 700;
  color: #F16D7F;
}

.filter-sort {
  height: 132px;
  display: flex;
  gap: 30px;
  position: relative;
  padding-top: 39px;
  z-index: 10;
}

.filter[open] .filter__heading {
  color: #F16D7F;
}

.filter {
  width: 360px;
  padding-top: 13px;
  position: relative;
}
.filter__content {
  padding: 0px 16px 16px;
  background-color: #FFF;
}
.filter[open] {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__heading {
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  color: #000;
}
.filter__heading:hover {
  color: #F16D7F;
}
.filter__summary {
  display: flex;
  gap: 11px;
  align-items: center;
  padding-left: 16px;
}
.filter__item {
  margin-top: 16px;
}
.filter__item[open] .filter__item_heading {
  color: #F16D7F;
}
.filter__item_heading {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9F9F9F;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
  padding: 8px 11px 11px;
}
.filter__item_heading:hover {
  color: #F16D7F;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9F9F9F;
}
.filter__link:hover {
  color: #F16D7F;
}

.sort {
  padding-top: 13px;
  display: flex;
  gap: 16px;
}
.sort__details {
  position: relative;
}
.sort__details[open] .sort__details__summary {
  color: #F16D7F;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 12px;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #9F9F9F;
}
.sort__summary:hover {
  color: #F16D7F;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: -9px;
  top: 22px;
  position: absolute;
  background-color: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9F9F9F;
}

.logoblock {
  display: flex;
  background-color: #F1E4E6;
  align-items: center;
  gap: 64px;
  margin-bottom: 64px;
}
.logoblock__block-img {
  background-color: #fff;
}
.logoblock__img {
  width: 50vw;
}
.logoblock__heading {
  font-style: normal;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  color: #222;
  display: flex;
  flex-direction: column;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  height: 92px;
}
.logoblock__heading_small {
  font-style: normal;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  color: #222;
}
.logoblock__heading_rose {
  color: #F16D7F;
}

.offers__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
  gap: 30px;
  margin-bottom: 96px;
}
.offers__card {
  text-align: center;
  position: relative;
  height: 260px;
  background: rgba(33, 22, 22, 0.7);
}
.offers__card_big {
  text-align: center;
  position: relative;
  grid-column: span 3;
  background: rgba(33, 22, 22, 0.7);
  max-width: 1140px;
}
.offers__title {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FFF;
  position: absolute;
}
.offers__title_focused {
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #F16D7F;
}
.offers__img {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.offers__img_big {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.featured {
  margin-bottom: 96px;
}
.featured__title {
  text-align: center;
  margin-bottom: 48px;
}
.featured__heading {
  font-style: normal;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #222;
  margin-bottom: 6px;
}
.featured__text {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #9F9F9F;
}
.featured__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 30px;
  margin-bottom: 48px;
  justify-items: center;
}
.featured__button {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  padding: 16px 48px;
  background: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.featured__button:hover {
  color: #FFF;
  background-color: #F16D7F;
}

.card {
  max-width: 360px;
  background-color: #F8F8F8;
}
.card__img {
  width: 100%;
}
.card__box {
  min-height: 420px;
  max-width: 100%;
  position: relative;
}
.card__box:hover .card__hover {
  display: flex;
}
.card__button {
  display: flex;
  align-items: center;
  gap: 11px;
  color: #FFF;
  font-size: 14px;
  line-height: 17px;
  padding: 13px;
  border: solid #FFF 1px;
  background: transparent;
}
.card__button:hover {
  background-color: #F16D7F;
}
.card__content {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
}
.card__link {
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  color: #000;
  padding-bottom: 12px;
}
.card__text {
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  color: #9F9F9F;
  padding-bottom: 18px;
}
.card__price {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #F16D7F;
}
.card__hover {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
  animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.product {
  margin-bottom: 128px;
}
.product__card {
  min-height: 600px;
  z-index: 1;
  border: 1px solid #e1e1e1;
  max-width: 1140px;
  padding: 64px 250px;
  text-align: center;
  gap: 12px;
  background-color: #FFF;
  margin-top: -64px;
}
.product__subtitle {
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  color: #F16D7F;
}
.product__divider_title {
  width: 64px;
  height: 3px;
  background-color: #F16D7F;
  border: none;
}
.product__divider_filter {
  width: 640px;
  height: 1px;
  border: none;
  background-color: #e1e1e1;
  margin-bottom: 52px;
}
.product__heading {
  font-style: normal;
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  color: #9F9F9F;
  margin-bottom: 36px;
}
.product__text {
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  color: #9F9F9F;
  margin-bottom: 20px;
}
.product__price {
  font-style: normal;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  color: #F16D7F;
  margin-bottom: 52px;
}
.product__filter {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 36px;
}
.product__summary {
  display: flex;
  align-items: center;
  gap: 12px;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #9F9F9F;
}
.product__button {
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 48px;
  justify-content: space-between;
  width: 212px;
  height: 48px;
  background-color: #FFF;
  border: 1px solid #F16D7F;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #F16D7F;
}
.product__button:hover {
  background-color: #F16D7F;
  color: #FFF;
}
.product__button:hover path {
  fill: #FFF;
}

.slider {
  min-height: 778px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #F7F7F7;
}
.slider__button {
  border: none;
  height: 48px;
  width: 48px;
  background-color: #e1e1e1;
}
.slider__button:hover .slider__button_icon path {
  fill: #F16D7F;
}

.cart {
  display: flex;
  justify-content: space-between;
  padding-top: 96px;
  margin-bottom: 128px;
}
.cart__left-side {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart__right-side {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.cart__card {
  width: 652px;
  height: 306px;
  display: flex;
  position: relative;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.cart__card-img {
  width: 262px;
}
.cart__card-description {
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding: 20px 96px 64px 30px;
}
.cart__card-heading {
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  color: #222;
}
.cart__card-ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.cart__card-li {
  font-style: normal;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  color: #575757;
  display: flex;
}
.cart__card-li_price {
  color: #F16D7F;
}
.cart__card-li_text {
  color: #6f6f6f;
}
.cart__card-input {
  width: 44px;
  height: 25px;
  text-align: center;
  margin-left: 24px;
}
.cart__close {
  border: none;
  background: none;
  position: absolute;
  top: 28px;
  right: 22px;
}
.cart__close:hover path {
  fill: #F16D7F;
}
.cart__buttons {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}
.cart__button {
  background: none;
  border: 1px solid #9F9F9F;
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #000;
  padding: 16px 40px;
}
.cart__button:hover {
  color: #FFF;
  background-color: #F16D7F;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.address__heading {
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #222;
}
.address__input {
  font-style: normal;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  color: #222;
  height: 44px;
  width: 360px;
  padding-left: 16px;
}
.address__button {
  width: 100px;
  height: 35px;
  background: none;
  border: 1px solid #9F9F9F;
  font-style: normal;
  font-size: 12px;
  font-weight: 300;
  line-height: 13px;
  color: #9F9F9F;
  padding: 10px 14px;
}
.address__button:hover {
  color: #FFF;
  background-color: #F16D7F;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 360px;
  height: 214px;
  background: #F5F3F3;
  padding: 40px;
}
.total__sub {
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  color: #4A4A4A;
  margin-bottom: 12px;
}
.total__sub_price {
  padding-left: 20px;
}
.total__grand {
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #222;
  margin-bottom: 20px;
}
.total__grand_price {
  padding-left: 20px;
  font-weight: 700;
  color: #F16D7F;
}
.total__divider {
  width: 275px;
  color: #E2E2E2;
  margin-bottom: 16px;
}
.total__button {
  width: 275px;
  height: 50px;
  border: none;
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  line-height: 17px;
  color: #fff;
  background-color: #F16D7F;
}

.registration {
  display: flex;
  gap: 128px;
  padding-top: 64px;
  margin-bottom: 96px;
}
.registration__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.registration__name {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.registration__heading {
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  line-height: 17px;
  color: #222;
}
.registration__input {
  width: 360px;
  height: 45px;
  border: 1px solid #9F9F9F;
  padding: 16px;
  font-style: normal;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  color: #b1b1b1;
  opacity: 0.8;
}
.registration__gender {
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  gap: 20px;
  font-style: normal;
  font-size: 12px;
  font-weight: 300;
  line-height: 11px;
  color: #000;
}
.registration__pass-text {
  font-style: normal;
  font-size: 12px;
  font-weight: 300;
  line-height: normal;
  color: #b1b1b1;
  width: 360px;
}
.registration__button {
  margin-top: 20px;
  width: 168px;
  height: 50px;
  border: none;
  background-color: #F16D7F;
  color: #FFF;
}
.registration__loyalty {
  display: flex;
  flex-direction: column;
  gap: 22px;
  font-style: normal;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: #000;
}
.registration__title {
  font-style: normal;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: #000;
}
.registration__perks-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline-start: 2ch;
}
.registration__perk {
  list-style-image: url(../img/marker-li.svg);
  padding-inline-start: 1ch;
}

.service {
  background-color: #222;
  min-height: 340px;
  display: flex;
  align-items: center;
  text-align: center;
}
.service__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  gap: 30px;
}
.service__card {
  padding-top: 104px;
  padding-bottom: 104px;
  max-width: 360px;
}
.service__img {
  margin-bottom: 28px;
}
.service__heading {
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: #fbfbfb;
  margin-bottom: 16px;
}
.service__text {
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  color: #fbfbfb;
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../img/subscribe-background.png);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  height: 448px;
}
.subscribe__heading {
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: #222;
}
.subscribe__heading_low {
  font-size: 18px;
  font-weight: 400;
  display: block;
  padding-bottom: 32px;
}
.subscribe__form {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #222;
  text-align: center;
  height: 48px;
  display: flex;
  border-radius: 100px;
  width: 100%;
}
.subscribe__input {
  height: 100%;
  border: 0;
  padding: 7px 22px;
  background: #e1e1e1;
  border-radius: 50px 0 0 50px;
  width: calc(100% - 100px);
}
.subscribe__button {
  height: 100%;
  border: 0;
  border-radius: 0 50px 50px 0;
  color: #FFF;
  width: 100px;
  background-color: #F16D7F;
}

.feedback {
  max-width: 360px;
  text-align: center;
  gap: 32px;
}

.footer {
  background-color: #222;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__text {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #fbfbfb;
}
.footer__social {
  display: flex;
  gap: 8px;
}
.footer__social_icon {
  width: 32px;
  height: 32px;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
}
.footer__social_icon:hover {
  background: #F16D7F;
}

@media screen and (max-width: 1324px) {
  .burgermenu__box {
    right: 1%;
  }
}
@media (max-width: 1024px) {
  .featured__box {
    gap: 16px;
  }
}
@media (max-width: 768px) {
  .logoblock {
    gap: 40px;
  }
  .logoblock__heading {
    font-size: 44px;
  }
  .logoblock__heading_small {
    font-size: 24px;
  }
  .offers__box {
    gap: 16px;
  }
  .service {
    justify-content: center;
  }
  .service__box {
    flex-direction: column;
    gap: 48px;
    padding-top: 104px;
    padding-bottom: 104px;
  }
  .service__card {
    padding-top: 0;
    padding-bottom: 0;
  }
  .subscribe {
    flex-direction: column;
    justify-content: space-around;
    height: 694px;
  }
}
@media (max-width: 376px) {
  .header__usericon {
    display: none;
  }
  .header__basketicon {
    display: none;
  }
  .burgermenu__box {
    width: 100vw;
    right: 0;
  }
  .top {
    justify-content: space-around;
    flex-direction: column;
  }
  .logoblock {
    height: 364px;
  }
  .logoblock__heading {
    font-size: 38px;
  }
  .logoblock__heading_small {
    font-size: 20px;
  }
  .logoblock__img {
    display: none;
  }
  .offers__box {
    display: flex;
    flex-direction: column;
  }
  .offers__card_big {
    height: 112px;
  }
  .footer {
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 144px;
  }
}/*# sourceMappingURL=style.css.map */